/.DS_Store
/AndroidMKiller.xcodeproj/project.xcworkspace/xcuserdata/ghost.xcuserdatad/UserInterfaceState.xcuserstate
/AndroidMKiller.xcodeproj/xcuserdata/ghost.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist